<div class="cart-status">
  <img class="img-cart" src="assets/images/shopping-cart.png" />
  <div class="cart-status-numbers">
    <p class="total-quantity">{{ total_quantity }}</p>
    <p class="total-price">{{ total_price | currency : "USD" }}</p>
  </div>
</div>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{ total_quantity }}
    {{ total_price }}
  </body>
</html> -->
